<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha no APP</title>


</head>

<body>
    <div style="overflow: hidden; height: 100%; width: 100%; color: #fff; font-family: 'Roboto', sans-serif;">
        <div style="max-width: 50%; background: #666; margin: 0 auto; padding: 20px;border-radius: 4px;">
            <h1 style="text-align: center;margin: 0 0 20px;">
                Olá <%= name %>
            </h1>
            <p style="text-align: center;margin: 5px 20px;font-size: 18px;">
                Você solicitou a recuperação de senha do App:
            </p>
            <p style="text-align: center;margin: 5px 20px;font-size: 18px; margin-top: 20px;">
                <%= token %>
            </p>
        </div>
    </div>
</body>

</html>